/*
Copyright 2011 Jason Duncan, Nicholas Ortenzio

This file is part of the JSLint Extension for Google Chrome.

The JSLint Extension for Google Chrome is free software: you can redistribute it
and/or modify it under the terms of the GNU General Public License as published
by the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

The JSLint Extension for Google Chrome is distributed in the hope that it will
be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
License for more details.

You should have received a copy of the GNU General Public License along with the
JSLint Extension for Google Chrome.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
  background-color: #ffffff;
  font-family: helvetica, arial;
  min-width: 300px;
}

/*** HEADER ***/

#header {
  border-bottom: 2px solid #222;
}

  #logo {
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: right;
    min-width:200px;
    margin: 5px;
    padding: 0;
    padding-right: 40px;
  }

  #button_close {
    position: absolute;
    height: 16px;
    width: 16px;
    overflow: hidden;
    text-indent: -10000px;
    top: 12px;
    right: 12px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: url(close.png) 0 0 no-repeat;
  }


/*** MAIN CONTENT ***/


/*** SCRIPTS TAB ***/


#script_url {
  -webkit-user-select: none;
}

#script_urls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#script_urls li {
  font-size: 12px;
}

#script_urls li.script_host {
  font-size: 12px;
  margin-top: 1em;
  border-bottom: 1px solid #333;
}

#script_urls li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  display: block;
  background: #fff;
  overflow:hidden;
}

#script_urls li a:hover { 
  background-color: #333; 
  color: #fff;
}


/*** OPTIONS TAB ***/

.leftcolumn {
  float: left;
}

/*** RESULTS TAB ***/

#results .code {
  font-family: monospace;
  max-width: 700px;
  margin: 0 1em;
  background: #f2f2f2;
  border: 1px solid #CCC;
  padding: 5px;
  overflow-x: auto;
}

#results .lint_result { font-size: 12px; line-height: 1.5em; margin-bottom:2em;}
#results .lint_result .line { color: #A00; font-weight:800; }
#results .lint_result .reason {  color: #A00; font-weight:800;}

/*** ALL TABS ***/

#tab_results, #tab_options {
  width: 750px;
}
