/*
Copyright 2011 Jason Duncan, Nicholas Ortenzio

This file is part of the JSLint Extension for Google Chrome.

The JSLint Extension for Google Chrome is free software: you can redistribute it
and/or modify it under the terms of the GNU General Public License as published
by the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

The JSLint Extension for Google Chrome is distributed in the hope that it will
be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
License for more details.

You should have received a copy of the GNU General Public License along with the
JSLint Extension for Google Chrome.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
  background-color: #ffffff;
  font-family: helvetica, arial;
}


#header {
  border-bottom: 2px solid #222;
}

#logo {
  font-size: 1.2em;
  line-height: 1.3em;
  text-align: center;
  min-width:200px;
  margin: 5px;
  padding: 0;
}

#close {
  position: absolute;
  height: 16px;
  width: 16px;
  overflow: hidden;
  text-indent: -10000px;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: url(close.png) 0 0 no-repeat;
}


div.main_div {
  height: 70px;
  overflow-x: auto;
  overflow-y: hidden;
}

div.cancel {
  text-align: center;
}

div#results {
  display: none;
}

div.code {
  font-family: monospace;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  padding: 5px;
  overflow-x: auto;
  background-color: white;
}



/*** SCRIPTS TAB ***/

#script_url {
  -webkit-user-select: none;
}

#script_urls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#script_urls li {
  font-size: 12px;
  padding: 10px 5px;
}

#script_urls li:nth-Child(odd) { background: #fafafa; }
#script_urls li:nth-Child(even) { background: #eee; }

#script_urls li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.scripts_loaded {
  display: none;
}
